{% extends "base.html" %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css">
<script type="text/javascript">

$(document).ready(function() {
    $('input').focus(function() {
        $('.errorlist').hide();
    });

    $('.errorlist').click(function() {
        $('.errorlist').hide();
    });

    $('.checkbox').click(function() {
        $('.full').toggle();
        if( $('.full:visible').length > 0 ) {
            $('#id_newsletter').val(true);
        }
        else {
            $('#id_newsletter').val(false);
        }
    });

});

</script>
{% endblock %}

{% block content %}

<form id="login-form" method="post" action="/login/">{% csrf_token %}
    {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
    {% for hidden in user_profile_form.hidden_fields %} {{ hidden }} {% endfor %}
    <div class="container">
        <div class="device">
            <div class="header">
                <h1>INCUBADORA</h1>
            </div>
            <div class="nome">
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>
            <div class="mail">
                {{ form.username }}
                {{ form.username.errors }}
                <div class="checkbox">
                  <div class="full"></div>
                </div>
            </div>
            <div class="send">
                <input type="image" src="{{ STATIC_URL }}images/login/enviar.png" border="0" width="265px" height="128px">
                <img src="{{ STATIC_URL }}images/login/score.png">
            </div>
        </div>
    </div>
</form>

{% endblock %}
