{% extends "base.html" %}
{% load i18n %}

{% block head %}

<script type="text/javascript">
$(document).ready(function() {
    $('.mobile-interaction').click(function() {
        var elem = $(this);
        $.getJSON( elem.attr('href'), function(data) {
            // FIXME
            elem.find('span').text(data.mobile_interaction.toString());
        });
        return false;
    });
});

var happiness_meter_refresh = setInterval(
    function (){
        var url = '{{ spectacle.get_happiness_meter_url }}';
        $.get( url, function( data ) {
           if (!data.error) {
               $('#happiness-meter').html(data.value);
           }
        });
    },
    10000); // 10s

</script>

{% endblock %}


{% block content %}


EASY:

    <div id="mobile_interaction">
        Interação por celular: <a href="{{ spectacle.set_mobile_interaction_url }}" class="mobile-interaction"><span>{{ spectacle.mobile_interaction }}</span></a>
    </div>

    Lista de comandos

    <div>
        <span>Happiness Meter:</span> <span id="happiness-meter">{% if spectacle.mode == '1' %} {{ spectacle.easy_happiness_meter }}  {% else %} {{ spectacle.hard_happiness_meter }} {% endif %}</span>
    </div>

    botão para da início à degradação do medidor de felicidade

    sequencia de slides ( fotos/videos )

{% endblock %}
