{% extends "base.html" %}
{% load i18n %}

{% block head %}
<script src="{{ STATIC_URL }}js/functions.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {

    $.m_set_mobile_interaction_url = '{{ spectacle.set_mobile_interaction_url }}';
    $.m_get_chosen_commands_url = '{{ spectacle.get_chosen_commands_url }}';
    $.m_get_commands_url = '{{ spectacle.get_commands_url }}';
    $.m_decrease_happiness_url = '{{ spectacle.decrease_happiness_url }}';
    $.m_get_happiness_meter_url = '{{ spectacle.get_happiness_meter_url }}';
    $.m_set_hard_chosen_commands_url = '{{ spectacle.set_hard_chosen_commands_url }}';


    $('.mobile-interaction').click(function() {
        set_mobile_interaction();
        return false;
    });

    get_commands();
    get_chosen_commands();

    $('#decrease-happiness').click(function() {
        decrease_happiness();
        return false;
    });

});

var s10 = 10000; // 10s
var happiness_meter_refresh = setInterval(function(){ get_happiness_meter(); }, s10);
var commands_refresh = setInterval(function (){ get_commands();}, s10);
var chosen_commands_refresh = setInterval(function (){ get_chosen_commands(); }, s10);

</script>

{% if spectacle.mode == '2' %}
<script src="{{ STATIC_URL }}js/jquery-countdown/jquery.countdown.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {

    $("#hard_duration").change(function () {
        var d = $('#hard_duration option:selected').val().split(':')
        if ( d != '' ) {
            // FIXME
            var duration = parseInt(d[0])*60*60 + parseInt(d[1])*60 + parseInt(d[2]);
            $('#hard-countdown').countdown('destroy');
            $('#hard-countdown').countdown({
                until: duration,
                onExpiry: hard_chosen_command,
                format: 'MS',
                compact: true,
            });
            $('#hard_duration').val('').attr('selected', true);

            set_mobile_interaction();
        }
    });

    function hard_chosen_command() {
        set_hard_chosen_commands();
    }

});
</script>
{% endif %}


{% endblock %}


{% block content %}

    <div id="mode">
        Modo: {% if spectacle.mode == '1' %} EASY {% elif spectacle.mode == '2' %} HARD {% endif %}
    </div>


    {% if spectacle.mode == '1' %}
    <div id="mobile_interaction">
        Interação por celular: <a href="{{ spectacle.set_mobile_interaction_url }}" class="mobile-interaction"><span>{{ spectacle.mobile_interaction }}</span></a>
    </div>
    {% else %}
    <div id="mobile_interaction">
        Interação por celular: <span>{{ spectacle.mobile_interaction }}</span>
    </div>
    {% endif %}

    <div>
        Lista de comandos:
        <ul id="command-list"></ul>
    </div>

    <div>
        Comandos Escolhidos:
        <ul id="chosen-commands-list"></ul>
    </div>

    <div>
        <span>Happiness Meter:</span> <span id="happiness-meter">{% if spectacle.mode == '1' %} {{ spectacle.easy_happiness_meter }}  {% else %} {{ spectacle.hard_happiness_meter }} {% endif %}</span>
    </div>

    <div>
        <button id="decrease-happiness">degradação do medidor de felicidade</button>
    </div>

    {% if spectacle.mode == '2' %}
    <div>
        <select id="hard_duration">
        <option value="">------</option>
        {% for d in hard_duration %}
            <option value="{{ d.duration|date:"H:i:s" }}">{{ d.duration|date:"H:i:s" }}</option>
        {% endfor %}
        </select>

        <div id="hard-countdown"></div>
        <div id="blah"></div>
    </div>
    {% endif %}

    sequencia de slides ( fotos/videos )

{% endblock %}
