{% extends "base.html" %}
{% load i18n %}

{% block head %}
<script type="text/javascript">

var url = '/easy/happiness-meter/{{ spectacle.pk }}/';
var happiness_meter_refresh = setInterval(
    function (){
        $.get(url,
        function( data ) {
           if (!data.error) {
               $('#easy-happiness-meter').html(data.value);
           }
        });
    },
    10000); // 10s

// FIXME
var commands_refresh = setInterval(
    function (){
        $('#command-list').html('');
        $.get(
            "/frontal-projection/{{ spectacle.pk }}/commands/",
            function ( data ) {
                if (!data.error) {
                    $.each(data.commands, function(i, item) {
                        $('<li id="command-'+item.pk+'"><span>'+item.name+'</span> : <span>'+item.total+'</span></li>').appendTo('#command-list');
                    });
                }
            });
    },
    10000); // 10s

</script>
{% endblock %}

{% block content %}

<div class="column grid_12">
    <span> Interação com celular: {{ spectacle.mobile_interaction }}</span>
</div>

<div class="column grid_6">
    <ul id="command-list">
        {% for e in commands %}
        <li id="command-{{ e.command__pk }}"><span>{{ e.command__name }}</span> : <span>{{ e.pk__count }}</span></li>
        {% endfor %}
    </ul>
</div>

<div class="column grid_4">
    <span>Happiness Meter:</span> <span id="easy-happiness-meter">{{ spectacle.easy_happiness_meter }}</span>
</div>

{% endblock %}
