{% extends "base.html" %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/easy.css">
<script src="{{ STATIC_URL }}js/functions.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function() {

      $('.command').click(function() {
          var cid = $(this).attr('id').split('-')[1];
          $("#id_command").val(cid);
          var url = $('#easy-mode-form').attr('action');
          $.post( url, $("#easy-mode-form").serialize() );
      });

    $.m_get_chosen_commands_url = '{{ spectacle.get_chosen_commands_url }}';

  });

var s10 = 10000; // 10s
var blah_refresh = setInterval(function (){ easy_mobile_blah(); }, s10);

</script>

{% endblock %}

{% block content %}
<div class="container">
  <div class="device">
    <div class="header">
      <h1>INCUBADORA</h1>
    </div>
    <form id="easy-mode-form" method="post" action="{{ spectacle.easy_add_url }}">{% csrf_token %}
      {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
    </form>
    <div class="boarder">

      <ul class="thumbnails">
        {% for c in commands %}
        <li class="action">
          <div id="command-{{ c.id }}" class="command {{c.slug}} inativo">
              <ul></ul>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
