{% extends "base.html" %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/frontal_projection.css">
<script src="{{ STATIC_URL }}js/functions.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.transit.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.ui.core.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.ui.widget.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.ui.mouse.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.ui.draggable.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {

    $.m_get_happiness_meter_url = '{{ spectacle.get_happiness_meter_url }}';
    $.m_get_mobile_interaction_url = '{{ spectacle.get_mobile_interaction_url }}';
    $.m_get_last_hard_message_url = '{{ spectacle.get_last_hard_message_url }}';
    $.m_show_chosen_commands_url = '{{ spectacle.show_chosen_commands_url }}';
    $.m_get_spectable_mode_url = '{{ spectacle.get_spectable_mode_url }}';
    $.m_get_chosen_commands_total_url = '{{ spectacle.get_chosen_commands_total_url }}';
    $.m_frontal_projection_show_url = '{{ spectacle.get_frontal_projection_show_url }}';
    $.m_frontal_projection_boxes_positions_url = '{{ spectacle.set_frontal_projection_boxes_positions_url }}';
    $.m_frontal_projection_3d_data_url_url = '{{ spectacle.get_frontal_projection_3d_data_url }}';

    $("#box-message").draggable({
        stop: function(event, ui) {
            $('#fpbf_x').val(ui.position.left);
            $('#fpbf_y').val(ui.position.top);
            $('#fpbf_name').val('message');
            set_frontal_projection_boxes_positions();
        }
    });
    $( "#mobile_interaction" ).draggable({
        stop: function(event, ui) {
            $('#fpbf_x').val(ui.position.left);
            $('#fpbf_y').val(ui.position.top);
            $('#fpbf_name').val('mobile_interaction');
            set_frontal_projection_boxes_positions();
        }
    });
    $( ".commands" ).draggable({
        stop: function(event, ui) {
            $('#fpbf_x').val(ui.position.left);
            $('#fpbf_y').val(ui.position.top);
            $('#fpbf_name').val('commands');
            set_frontal_projection_boxes_positions();
        }
    });
    $( ".happiness" ).draggable({
        stop: function(event, ui) {
            $('#fpbf_x').val(ui.position.left);
            $('#fpbf_y').val(ui.position.top);
            $('#fpbf_name').val('happiness_meter');
            set_frontal_projection_boxes_positions();
        }
    });

});

var s10 = 3000; // 3s
var happiness_meter_refresh = setInterval(function(){ get_happiness_meter(); }, s10);
var mobile_interaction_refresh = setInterval(function (){ get_mobile_interaction(); }, s10);
var show_chosen_commands_refresh = setInterval(function (){ show_chosen_commands(false); }, s10);
var get_spectable_mode_refresh = setInterval(function (){ get_spectable_mode($.m_frontal_projection_show_url); }, s10);
var frontal_projection_3d_data_refresh = setInterval(function(){ get_frontal_projection_3d_data(); }, s10);

</script>

{% if spectacle.mode == '2' %}
<script src="{{ STATIC_URL }}js/jquery-countdown/jquery.countdown.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.knob.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {

    $.m_set_countdown_displayed_url = '{{ spectacle.set_countdown_displayed_url }}';
    $.m_get_last_scene_duration_url = '{{ spectacle.get_last_scene_duration_url }}';

    $(".dial").knob();
    $('.dial').val(0).trigger('change');

});

var last_hard_message_refresh = setInterval(function (){ get_last_hard_message(); }, s10);
var get_last_scene_duration_refresh = setInterval(function (){ get_last_scene_duration(); }, s10);


</script>
{% endif %}

{% if spectacle.mode == '1' %}
<script type="text/javascript">
$(document).ready(function() {
    $.m_get_frontal_projection_draw_list_bullet_url = '{{ spectacle.get_frontal_projection_draw_list_bullet_url }}';
});

var bullets_refresh = setInterval(function (){ get_bullets(); }, s10);
</script>
{% endif %}

{% endblock %}

{% block content %}

<form id="form-frontal-projection-boxes-positions">{% csrf_token %}
    <input type="hidden" id="fpbf_x" name="fpbf_x">
    <input type="hidden" id="fpbf_y" name="fpbf_y">
    <input type="hidden" id="fpbf_name" name="fpbf_name">
</form>

<div class="container" id="frontal_projection_3d">
  <div class="stage">
    <div class="header">
      {% if spectacle.mode == '1' %}

      <div id="mobile_interaction">
        <div id="mobile_interaction_on"></div>
      </div>

      {% else %}

      <div id="chosen-commands">
          <ul id="chosen-commands-list"></ul>
      </div>
      {% endif %}

      <div id="box-message" class="msg">
        <marquee scrollamount="4">INCUBADORA</marquee>
      </div>
    </div>
    <div class="widgets">
     {% if spectacle.mode == '2' %}
        <div class="hard-countdown">
            <div id="hard-countdown">00:00:00</div>
            <input type="text" value="0" data-width="50" data-displayInput="false" class="dial">
        </div>
     {% else %}
      <div class="commands">
        <div>
          <ul id="command-list">
            {% for c in commands %}
            <li id="command-{{ c.id }}" class="command">
                <div class="{{ c.slug }}"></div>
                <span id="command-count-{{ c.id }}" class="score score-0"></span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
     {% endif %}
      <div class="happiness">
        <div id="happiness-meter" class="meter" style="height:
                                                       {% if spectacle.mode == '1' %}
                                                       {{ spectacle.easy_happiness_meter }};
                                                       {% else %}
                                                       {{ spectacle.hard_happiness_meter }};
                                                       {% endif %}">
          <div class="meter-border">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
