{% extends "base.html" %}
{% load i18n %}

{% block head %}
<script src="{{ STATIC_URL }}js/functions.js" type="text/javascript"></script>
<script type="text/javascript">

$(document).ready(function() {

    $.m_get_happiness_meter_url = '{{ spectacle.get_happiness_meter_url }}';
    $.m_get_mobile_interaction_url = '{{ spectacle.get_mobile_interaction_url }}';
    $.m_get_commands_url = '{{ spectacle.get_commands_url }}';
    $.m_get_last_hard_message_url = '{{ spectacle.get_last_hard_message_url }}';

    get_commands();

});

var s10 = 10000; // 10s
var happiness_meter_refresh = setInterval(function(){ get_happiness_meter(); }, s10);
var commands_refresh = setInterval(function (){ get_commands();}, s10);
var mobile_interaction_refresh = setInterval(function (){ get_mobile_interaction(); }, s10);

</script>

{% if spectacle.mode == '2' %}
<script type="text/javascript">

var last_hard_message_refresh = setInterval(function (){ get_last_hard_message(); }, s10);

</script>
{% endif %}

{% endblock %}

{% block content %}

<div class="column grid_12">
    <div id="mobile_interaction">
        Interação por celular: <span>{{ spectacle.mobile_interaction }}</span>
    </div>
</div>

<div class="column grid_6">
    <ul id="command-list">
    </ul>
</div>

<div class="column grid_4">
    <span>Happiness Meter:</span> <span id="happiness-meter">{% if spectacle.mode == '1' %} {{ spectacle.easy_happiness_meter }}  {% else %} {{ spectacle.hard_happiness_meter }} {% endif %}</span>
</div>

{% if spectacle.mode == '2' %}
<div id="box-message">
    Mensagem: <p></p>
</div>
{% endif %}
{% endblock %}
