{% extends "base.html" %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/frontal_projection_3d.css">
<script src="{{ STATIC_URL }}js/functions.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.transit.js" type="text/javascript"></script>
<script type="text/javascript">

$(document).ready(function() {

    $.m_frontal_projection_3d_data_url_url = '{{ spectacle.get_frontal_projection_3d_data_url }}';

});

var s10 = 3000; // 3s
var frontal_projection_3d_data_refresh = setInterval(function(){ get_frontal_projection_3d_data(); }, s10);

</script>
{% endblock %}

{% block content %}

<div id="frontal_projection_3d">
    <iframe frameborder="0" scrolling="no" width="800" height="600" src="{{ spectacle.get_frontal_projection_show_url }}"></iframe>
</div>

{% endblock %}
